body, html {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  display: table;
  font-family: Georgia, serif;
  font-size: 24px;
  text-align: center;
}
.container {
  border: 20px solid #324960;
  width: vh - 750px;
  height: 563px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}
.logo {
  color: #324960;
}

.marquee {
  color: #4FC3A1;
  font-size: 48px;
  margin: 20px;
}
.assignment {
  margin: 20px;
}
.person {
  border-bottom: 2px solid black;
  font-size: 32px;
  font-style: italic;
  margin: 20px auto;
  width: 400px;
}
.reason {
  margin: 20px;
}